/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");



/*  NIMROD - FONTS & Main TEXTS*/

@font-face {
 font-family: "Gofan";
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-regularwebfont.eot");
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-regularwebfont.eot#iefix") format("embedded-opentype"),
 url("http://localhost:8080/wp-content/themes/bridge-child/fonts/fbgofansans-regularwebfont.woff") format("woff"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-regularwebfont.ttf") format("truetype"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-regularwebfont.svg#FbGofanSans-Light") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
 font-family: "Gofan";
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-lightwebfont.eot");
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-lightwebfont.eot#iefix") format("embedded-opentype"),
 url("http://localhost:8080/wp-content/themes/bridge-child/fonts/fbgofansans-lightwebfont.woff") format("woff"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-lightwebfont.ttf") format("truetype"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-lightwebfont.svg#FbGofanSans-Regular") format("svg");
font-weight: Light;
font-style: normal;
}
@font-face {
 font-family: "Gofan";
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-boldwebfont.eot");
 src: url("/wp-content/themes/bridge-child/fonts/fbgofansans-boldwebfont.eot#iefix") format("embedded-opentype"),
 url("http://localhost:8080/wp-content/themes/bridge-child/fonts/fbgofansans-boldwebfont.woff") format("woff"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-boldwebfont.ttf") format("truetype"),
  url("/wp-content/themes/bridge-child/fonts/fbgofansans-boldwebfont.svg#FbGofanSans-Regular") format("svg");
font-weight: bold;
font-style: normal;
}
@font-face {
 font-family: "litographia";
 src: url("/wp-content/themes/bridge-child/fonts/litographiaregularwebfont.eot");
 src: url("/wp-content/themes/bridge-child/fonts/litographiaregularwebfont.eot#iefix") format("embedded-opentype"),
 url("http://localhost:8080/wp-content/themes/bridge-child/fonts/litographiaregularwebfont.woff") format("woff"),
  url("/wp-content/themes/bridge-child/fonts/litographiaregularwebfont.ttf") format("truetype"),
  url("/wp-content/themes/bridge-child/fonts/litographiaregularwebfont.svg#FbLitographia-Regular") format("svg");
font-weight: normal;
font-style: normal;
}


*, body, h1, h2, h3, h4, h5, h6, p ,a[title], textarea ,#respond textarea, label{
	font-family: "Gofan";
}
.litographia {
	font-family: "litographia";
}
p {text-align: justify;}
h3, .h3, h3 a{margin: 40px 0 30px 0;}
h6, h2 {
    text-align: right;
}

h2.SpecialTitle a{
    color: white;
    text-decoration: none;
}
h2 a:hover{
    color: white;
}

hr {
	border-top-color:#2eaadc;	
}
/*   NIMROD - LAYOUT   */
.container {width:auto!important}
#back_to_top.on, #back_to_top {
	right: auto;
	left: 25px;
}
.main_menu{margin-top: 20px;}
header.sticky .main_menu {margin-top: 8px;}
header .container_inner .header_inner_left {left: 25%;}
.header_inner_right {float: left;}


.drop_down .second{
    right: 0;
}
.drop_down .narrow .second .inner ul li {
 
    width: 125px;
}

.position_right .breadcrumb{
    left: auto;
    right: 0;
    top: -70px;
       overflow: hidden;
} 
.breadcrumbs{
    right: -45px;
    position: relative;
}

.footer_col2 li {text-align: left;} 
.footer_col2 {padding-top: 140px;}

  /* HIDE Post title, image , info*/
.blog_holder article .post_image, .blog_holder article .post_info,  .blog_holder.blog_single article  h2.entry_title{
    display: none;
}
.blog_single .single_tags,.blog_single .comment_holder,.blog_single .comment_number,.blog_single .comment_form{
display:none;
}
#comments #comments-title {
/*	display:none;*/
}
.form-submit {
    text-align: left;
}
 input[type="submit"] {
 background-color: #39A9DC;
    border: none;
    color: white;
    padding: 6px 40px 2px;
}
 input[type="submit"]:hover {
  background-color: black;	
 }
h1 a { 
     text-decoration: none;
}
.HideMe{display:none}

.ExtraText{color:#90a9b1}

/*   COMMENTS  */
div#comments{
	display: grid;
}
h2#comments-title{
	    font-size: 20px;
}

ul.commentlist {

    list-style-type: none;
}
.commentlist p {
	font-size:14px;
	float: right;
	width:100%;
}
div.commentmetadata {
	float: right;
	width:25%;
	font-size:12px;
}
div.comment-author{
	float: right;
	width:70%
}
li.comment {
	width:80%;
	float: right;
	margin: 25px 0 25px 0;
    	border-bottom: 1px solid #ccc;
}
cite.fn , span.says{
	font-style:normal;
	font-weight:bold;
}
div.reply{
	float: right;
    width: 100%;
    text-align: left;
}
#ReplayDiv {
margin: 0 0 50px 0;
}
/*   SIDE BAR*/
.column2 .column_inner {
	border-right: 1px #ECEDED solid;

}
ul.wpp-list li a{
	float: right;
	padding-left: 5px;
}
ul.wpp-list li a.wpp-post-title{float: none;}
#SidebarEyal .text ,#SidebarEyal .tagcloud a{
	background-color:red;
	margin-bottom: 5px;
	width:100%
}

/* ARCIVE  */
.ArciveItem{
	background-color:#ECEDED;
	margin-bottom: 25px;
	    padding:0;
	    overflow: auto;
}
.ArciveItem img {
	float: left;
    	margin-right: 25px;
	    max-width: 45%;
}
.ArciveItemContent {
    width: 50%;
    float: right;
}
.ArciveItem div h3 {
margin: 10px 30px 15px 0;
/* height: 22px;
    overflow: hidden;
    display: list-item;*/
}
.ArciveItem div h6 {
margin: 30px 30px 0 0;
}
.ArciveItem p {
margin: 0px 30px 0 0;
}
.two_columns_75_25 .column1{padding: 23px 23px 35px;}
.two_columns_75_25 .column2{padding: 65px 0 0 0}

.blog_holder article .post_text .post_text_inner {
	padding-top:0px
}




/*  -------------------------------NIMROD - ELEMENTS------------------------------------- */

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
}

.social_share_list_holder span,.social_share_list_holder p {
	display: none;
}
.social_share_list_holder ul{
    margin-top: 4px;
}
.social_share_list_holder ul li{
	background-color: #39A9DC;
	padding: 23px 8px 13px 8px;
	margin-right: 2px;	
}
a:hover {
background-color:balck;
color:#fff;
}
.social_share_list_holder ul li i {
	color:#ffffff;
	    font-size: 25px;
	    text-align: center;
	    width:30px !important;
}
.social_share_list_holder .fa-pinterest{
	padding: 10px 0px 5px 10px;
}

.q_accordion_holder.accordion.without_icon .ui-accordion-header span.tab-title{
	padding:0;
}
.q_accordion_holder.accordion h4.ui-accordion-header {
    background-color: #2eaadc;
        width: 50%;
    text-align: center;
}

.q_accordion_holder.accordion .ui-accordion-header .accordion_mark_icon {
	padding:5px 0 0 0;
}
.q_accordion_holder.accordion .ui-accordion-header:hover {
	color:#000000 !important
}
.accordion_mark {
	border:none !important;
	background-color:Transparent!important;

	display:none !important;
	
}
.accordion_content_inner .q_icon_list {
    border-bottom: solid #2eaadc 1px;
}
.q_list.circle.animate_list ul li{
    color: white;
    border-bottom: solid #2eaadc 1px;
}
.q_accordion_holder.accordion.without_icon .ui-accordion-header span.tab-title {
	text-decoration: none;
    	font-size: 20px;
    	line-height: 50px;
	width:50%;
	display: initial;
}
.q_accordion_holder.accordion div.accordion_content {padding:0px}
.fullWidthAccordeon .accordion_content {padding:0px !important;}
.q_icon_list p {
 margin:0 0 21px;
}
.wpv-loop{
    list-style-type: none;
}
.qbutton.big_large_full_width{height:50px;line-height:50px;font-size:20px;}

.PostGridText{color:#ffffff;}
.vc_btn3.vc_btn3-color-blue {
	background-color:#2eaadc !important;
	line-height: 23px;
	font-size: 20px;
	  width: 50%;
}
.vc_grid-btn-load_more {
    width: 100%;
}

.ContactInput, .ContactInput94{
	width:30% !important;
	font-family: "Gofan" !important;
	display: inline  !important;
	padding: 10px !important;
	margin-left: 10px !important;
}
.ContactInput94 {
	width:94% !important;
}
.ContactBut{
	width: 10%;
	text-align: center;
	background-color: #707173!important;
	color: #fff;
        top: 3px;
	height:37px;
}
.vc_btn3-size-md {    margin: 0 auto;}
.vc_btn3-icon {display:none!important;}
/*  ------------------------------------------------- NIMROD - SHOW & SPECIAL TITLES-----------------------------*/
.bigblue, .SpecialTitle, h2.SpecialTitle, a.SpecialTitleLink{
	color:#2eaadc !important;
	font-size:50px;
}
h1, .title h1 {
	font-size:34px !important;
	color:#707173;
}
.SpecialTitle, h2.SpecialTitle, h1, .title h1 {
	line-height: 40px;
	padding: 12px 8px 0px 0;
	border-bottom: solid #b1b3b4 4px;
	border-top: solid #b1b3b4 4px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: normal;
	}
.SpecialTitleSub, h1.BB {
	font-size:34px;
	color:#666666;
}
#MuzzaTitleLink {color: #2eaadc; text-decoration: none; font-size: 50px;}
.Bg_Dark .SpecialTitle,.Bg_Dark h2.SpecialTitle {
	border-color:white;
}

.Bg_Dark .SpecialTitleSub, .Bg_Dark h3,.Bg_Dark p,.Bg_Dark h1 {
	color:white;
}
.SpecialTitleLeft {
    position: relative;
    float: left;
    top: -75px;
    font-size: 28px;
    padding: 0 0 0 8px;
    font-weight:200;
}
#ShowWraper {
	border-bottom: solid white 4px;
	}
#ShowLoopBg {
	background-color:#3d3c3f;

	padding: 25px 6% 5px 15px;
	color: #2eaadc;
}

.ShowItem {
	display: inline-flex; 
	text-align: right; 
	width:30%;
}
.ShowBigDate{

	font-size: 49px;
	padding: 10px 0px 10px 10px;

}
.ShowDetails{
    padding-right: 10px;

}
.showListRow{padding: 5px 0 25px 0;}
.ShowListBut{margin-top:15px;}
/* NIMROD   Specific ELEMENTS  */
 .FixH_Cou{position: relative; min-height: 750px;}
  .FixH_Cou400{position: relative; min-height: 450px;}
  .FixH_Cou420{position: relative; min-height: 420px;}
 #TicketOrderBut, #BuyBook0, #BuyBook1, #BuyBook2, #BuyBook95{
    width: 550px;
    position: absolute;
    bottom: 5px;
}
#BuyBook95{
	left:2%;
	width:95%;
	bottom: 40px;
}


.q_icon_list .qode-ili-icon-holder {float:right;}
.q_icon_list p {padding-top: 3px;}


#MoreBookBut{float:left;}


/* ------------------------------------------------- Responder Form------------------------------------- */
.placeholderSimulation {
	color: #fff;
}
.ResponderForm{   
}

.ResponderForm input[type=text],
.ResponderForm input[type=email] 
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 100%;
    outline: none;
    padding: 0px 0px 5px 0px;
    font-size:18px;
}
.ResponderForm input[type=text]:focus,
.ResponderForm input[type=email]:focus,
{
    border-bottom: 1px dashed #D9FFA9;
}

input[type=submit].ResponderForm{ 
	background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
input[type=submit].ResponderForm:hover{
background: #394D61;
}
.hesperiden {
border: solid white 2px !important;
}

.OnSale {
	text-decoration: line-through;
	text-decoration-color: red;
}
.qbutton.large {
width: 80%;
}
.centerBut{
	    text-align: center;

}
.ImageGalleryYealAmit {
max-height:550px
}


/*  ----------------------------------------------  NIMROD   - SHOP----------------------------------------  */
.woocommerce-checkout table.shop_table {width:100%;}
#order_review_heading{text-align:center;}
.woocommerce input#place_order {float:left;width:50%;text-align:center;}
.woocommerce div.product .cart {
	margin-top:10px;
}
.stock.in-stock{
	display: none;	
}
.woocommerce del .amount, .woocommerce-page del .amount {
    margin-left: 55px;
}
.Pricediv{
	display: -webkit-box;
	margin: 15px 0 15px 0;
}
.single_add_to_cart_button{

    text-align: center !important;
    font-size: 20px !important;
    height: 50px !important;
    line-height: 25px;
    width: 60% !important;
}
.WideBut .single_add_to_cart_button{}
.NormalBut{
    width: 50%;}
 .GreenAccordeon{   width: 800px;}
.GreenAccordeon h5{
    background-color: rgb(151, 191, 13);
    text-align: center;
    height: 30px;
    padding-top: 0px;
   margin-bottom: 20px!important; 
}
.q_accordion_holder.accordion.without_icon.GreenAccordeon  .ui-accordion-header span.tab-title{
	font-size:18px;
	line-height: 30px;
}
.GreenAccordeon .q_list.circle.animate_list ul li{
	color:#707173;
	padding-bottom:15px;
}
.cross-sells .product {
	    width: 150px!important;

}
.cross-sells {
float: right;
}
.cart_totals {
float: left !important;
}

.halfW{
    width: 50%;
    float: left;
    margin: 0 15px 20px 0;
    }
    
#ship-to-different-address, .woocommerce-billing-fields h3{text-align: right;}
#ship-to-different-address span {    margin-right: 20px;}
.coupon, #coupon_code {background-color:#f3f3f3 }
.woocommerce div.woocommerce-info{display: none;}
.order-total {font-size:38px}
.woocommerce div.product .cart .quantity {
    float: left;
    margin-left: 0;
    margin-right: 19px;
}
.checkbox input[type="checkbox"], .input-checkbox {
    margin-right: -20px;
        margin-left: 0px;
}
.woocommerce-terms-and-conditions-link {color:red;}

.wpb_text_column p {padding:5px 0}
/*  ------------------------------------------------- 404 -------------------------------  */
.page_not_found h2{font-family: "litographia"; font-size:60px}
div.page_not_found {width: 50%;}
 .container_page_not_found {inline-flex;}
.image_page_not_found {margin-top: 60px}
/* -------------------------------------   RESPONSIVE ------------------------------  */

@media only screen and (max-width: 1024px) {
     .page_container_inner {margin:0px;}
    .container {width:100%}
     .full_section_inner {padding: 0;}
      .ShowBigDate {padding:0; line-height: 49px;}
      .col-sm-4{width: 100%;margin-bottom: 15px;}
      .showListRow {padding:0;;margin-bottom: 15px;}
      .TitleImage{position: relative; left: -80px;}
      #back_to_top.on, #back_to_top {left: 5px;}
      .q_accordion_holder.accordion h4.ui-accordion-header {width: 100%;}
     h2.SpecialTitle{ font-size: 45px;}
     .SpecialTitleLink {font-size: 40px;}
     .SpecialTitleSub {font-size: 30px;}
      #TicketOrderBut, #BuyBook0, #BuyBook1, #BuyBook2, #BuyBook95{width: auto;position:relative}
      #BlogTitle{word-spacing: -7px; padding-right: 0px;}
      .vc_btn3.vc_btn3-color-blue { width:100%}
      .ContactInput {width:100% !important;margin:10px 0px 10px 0px !important}
      .ContactBut {float:left}
}
@media only screen and (max-width: 768px) {
   div.commentmetadata {width:auto; float:left}
   .halfW {
   	 width: 100%;
    	float: right;
    	margin: 10px 0 20px 0;
   }
   .ShowDetails{padding-top:35px}
   .ShowListBut {margin:0; line-height:normal}
   #ShowLoopBg {padding-top: 0px;}
  .container_page_not_found {block}
  .image_page_not_found {margin-top: 5px}
   .container {width:auto!important}
}


@media only screen and (max-width: 480px) {

	.container {padding:0 8px 0 8px}
	 .halfW {
   	 width: 95%;
    	margin: 10px;
   }
}
@media only screen and (max-width: 400px) {
	.container_inner {width:300px}
	.container {padding:0 5px 0 5px}
}
.footer_col2 .column_inner{border-right:0 black none;!important}
